<h2>About</h2>


<div class="card z-depth-3">
	<div class="card-content white-text">
		<div class="row">
			<div class="col m6">
				<a class="twitter-timeline" data-height="400" href="https://twitter.com/mannuarora7000?ref_src=twsrc%5Etfw">Tweets by mannuarora7000</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="col m6">
				<div class="card-panel teal lighten-1 z-depth-1">
					<div class="row">
						<div class="col m3">
							<%= image_tag "avatar.png", class: "circle responsive-img" %>
						</div>
						<div class="col m9">
							<span class="white-text">
								<h5>Manu Arora</h5>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt facere atque, nam, unde quam accusantium architecto. Ullam sunt ad ea unde provident officiis est. Fuga rerum ut sapiente illo minima.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo corporis voluptas at, unde harum officiis dolore dolorem modi pariatur voluptatem inventore nemo quod consectetur nulla cumque, optio adipisci! Fugit, tenetur!
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero exercitationem ex cum unde totam omnis quisquam cumque? Repellat voluptas laborum facilis hic quis provident ex nihil, nesciunt, mollitia architecto neque.
							</span>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
</div>

